# top-most EditorConfig file
root = true

# ASP.NET files
[*.{cs,cshtml,config,json,xml}]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

# C# files
[*.cs]
csharp_new_line_before_open_brace = all
dotnet_sort_system_directives_first = true
